[submodule "themes/hugo-whisper-theme"]
	path = themes/hugo-whisper-theme
	url = git@github.com:JugglerX/hugo-whisper-theme.git
[submodule "themes/hugo-now-ui"]
	path = themes/hugo-now-ui
	url = git@github.com:cboettig/hugo-now-ui.git
